<!-- Navbar starts -->
<mat-toolbar color="primary" class="nav-bar">
  
  <!-- Button to open the Side Menu -->
  <button mat-button (click)="sidenav.toggle()" class="menu-btn">
    <mat-icon>menu</mat-icon>
  </button>
  
  <span class="spacer"></span>
  
  <!-- App title -->
  <span>LANG Institute</span>
  
</mat-toolbar>
<!-- Navbar ends -->

<!-- Side Menu and Content -->
<mat-sidenav-container>
  
  <!-- Side Menu starts -->
  <mat-sidenav #sidenav mode="side" opened="true">
    
    <div class="sidenav-inner-wrapper">

      <!-- Side menu items starts -->
      <p class="sidenav-item">
        <mat-icon class="sidenav-icon">people</mat-icon>

        <!-- routerLink is an angular Directive -->
        <!-- Angular Lets us link to specific parts of our app using this Directive -->
        <!-- routerLinkActive is an angular Directive -->
        <!-- Angular Lets us add a CSS class to an element when the link's route becomes active using this Directive -->
        
        <a class="sidenav-link" [routerLink]="['/students']" routerLinkActive="sidenav-link-active">Students</a>
      </p>

      <p class="sidenav-item">
        <mat-icon class="sidenav-icon">book</mat-icon>
        <a class="sidenav-link" [routerLink]="['/courses']" routerLinkActive="sidenav-link-active">Courses</a>
      </p>
      <!-- Side menu items ends -->

    </div>
    
  </mat-sidenav>
  <!-- Side Menu ends -->
  
  <!-- Content starts -->
  <div class="content">
    
    <!-- Any app content goes here -->

    <!-- router-outlet is an angular Directive -->
    <!-- Angular dynamically places the result of the navigation of the AppRoutingModule here based on the current URL -->
    
    <router-outlet></router-outlet>
    
  </div>
  <!-- Content ends -->
  
</mat-sidenav-container>
<!-- Side Menu and Content -->